.idea/
env/
htmlcov/
npm/
node_modules/
__pycache__/
*.pyc
Thumbs.db
*.orig
settings_local.py
/supervisord.conf
conf/supervisord/*.conf
conf/nginx/*.conf
static_collected/
logs/*
.coverage
npm-debug.log
test-results/
chromedriver
geckodriver.log
ecom/cypress/videos
ecom/cypress/screenshots
media/
staff/cypress/videos/
staff/cypress/screenshots/